{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="mamuriyat">
        <div class="top-content">
            <div class="content">
                <nav class="top-bar">
                    <h3>
                        <i class="fa fa-users"></i>
                        O’quv ishlari bo’yicha prorektorat
                    </h3>
                    <nav>
                        <a href="{% url 'main:welcome' %}">
                            <i class="fa fa-home clfacebook"></i>
                        </a>
                        /
                        <i>
                            <a class="clfacebook" href="{% url 'main:welcome' %}">
                                ma`muriyat
                            </a>
                        </i>
                    </nav>
                </nav>
            </div>
        </div>
        <div class="content">
            <div class="bos-bar"><h3 class="bos-bar-title">
                O’quv ishlari bo’yicha prorektor
            </h3>
                <nav class="img-box">
                    <img src="/static/image/prorektor.jpg" alt="Image">
                    <br><br>
                    <span>
                        <p>
                            Baymakov Sayfiddin Risbayevich
                        </p>
                    </span>
                </nav>
                <nav class="bos-about">
                    <p class="tarjimai-hol">
                        1989-1995 yy. - 1-Toshkent davlat tibbiyot instituti davolash fakulteti talabasi
                    </p>
                    <p class="tarjimai-hol">1995-1997 yy. - 1-Toshkent davlat tibbiyot instituti davolash fakulteti
                        umumiy xirurgiya kafedrasi klinik ordinatori
                    </p>
                    <p class="tarjimai-hol">1997-2000 yy. - 1-Toshkent davlat tibbiyot instituti davolash fakulteti
                        umumiy xirurgiya kafedrasi aspiranti
                    </p>
                    <p class="tarjimai-hol">2000-2003 yy. - 1-Toshkent davlat tibbiyot instituti stomatologiya fakulteti
                        xirurgik kasalliklar kafedrasining assistenti
                    </p>
                    <p class="tarjimai-hol">2003-2005 yy. - 1-Toshkent davlat tibbiyot instituti stomatologiya fakulteti
                        xirurgik kasalliklar kafedrasining dotsenti
                    </p>
                    <p class="tarjimai-hol">2005-2014 yy. - Toshkent Tibbiyot Akademiyasi davolash fakulteti umumiy va
                        bolalar xirurgiyasi kafedrasi dotsenti
                    </p>
                    <p class="tarjimai-hol">2014-2014 yy.- Toshkent davlat stomatologiya instituti xirurgik fanlar
                        yo‘nalishi kafedrasi mudiri
                    </p>
                    <p class="tarjimai-hol">2005-2012 yy. - Toshkent Tibbiyot Akademiyasi tibbiy pedagogika fakulteti
                        dekani muovini
                    </p>
                    <p class="tarjimai-hol">2012-2013 yy. - Toshkent Tibbiyot Akademiyasi huzuridagi pedagog kadrlarni
                        qayta tayyorlash va ularninig malakasini oshirish tarmoq markazi direktori vvb
                    </p>
                    <p class="tarjimai-hol">2013-2015 yy - Toshkent Tibbiyot Akademiyasi huzuridagi pedagog kadrlarni
                        qayta tayyorlash va ularninigmalakasini oshirish tarmoq markazi direktori
                    </p>
                    <p class="tarjimai-hol">2014- 2018 yy.-Toshkent tibbiyot akademiyasi akademik litsey va kollejlar
                        bilan ishlash bo‘yichaprorektori
                    </p>
                    <p class="tarjimai-hol">2018-2021 yy. - Toshkent davlat stomatologiya instituti xirurgiya va xarbiy
                        dala jarroxligi kafedrasi mudiri
                    </p>
                    <p class="tarjimai-hol">2020-2021 yy. - Toshkent davlat stomatologiya instituti Stomatologiya
                        fakulteti dekani
                    </p>
                    <p class="tarjimai-hol">
                        2021 y.x.v. - Toshkent davlat stomatologiya instituti Ukuv ishlari buyicha prorektor
                    </p>
                    <ul class="about-lists">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>
                                <b>Telefon</b>
                                <p>
                                    +998(91) 151-31-17
                                </p>
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span>
                                <b>Elektron pochta</b>
                                <p>
                                    info@tsdi.uz
                                </p>
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-graduation-cap"></i>
                            <span>
                                <b>Ilmiy unvon/daraja</b>
                                <p>
                                    Tibbiyot fanlari doktori, Dotsent
                                </p>
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-clock-o"></i>
                            <span>
                                <b>
                                    Qabul vaqti
                                </b>
                                <p>
                                    Har kuni 13:00-16:00
                                </p>
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="about-content">
                <h3>O‘quv ishlari bo‘yicha prorektorning lavozim vazifalari</h3>
                <p>
                    O‘zbekiston Respublikasi qonunlari, Prezident farmonlari va farmoyishlari, Oliy Majlis va Vazirlar
                    Mahkamasining ta’lim va kadrlar tayyorlash sohasidagi qarorlarini amalga oshirishni tashkil
                    etish;
                    <br>
                    Davlat ta’lim standartlari asosida o‘quv ishlarini tashkil etish va malakali kadrlar
                    tayyorlashni ta’minlash;
                    <br>
                    Davlat ta’lim standartlariga muvofiq bilimlar mazmuni va tayyorgarlik
                    darajasiga qo‘yiladigan talablar majmuasini barcha fakultet dekanlari, kafedra mudirlari va pedagog
                    o‘qituvchilarning bilishini ta’minlash;
                    <br>
                    Mutasaddi yuqori tashkilotlarning buyruqlarini,
                    farmoyishlari va ko‘rsatmalarini, o‘quv–tarbiya jarayonlariga oid masalalar bo‘yicha TSDI Ilmiy
                    kengashi qarorlari va rektor buyruqlarining bajarilishini tashkil qilish;
                    <br>
                    Ilg‘or mamlakatlar
                    ta’lim tizimining rivojlanish tendensiyalarini o‘rganish, “Ta’lim to‘g‘risida”gi qonun, “Kadrlar
                    tayyorlash milliy dasturi” va boshqa ta’limga oid qonunlarda ko‘rsatilgan vazifalarni amalga
                    oshirish borasidagi uslub va vositalarni ishlab chiqish hamda ularning amalga oshirilishini
                    ta’minlash;
                    <br>
                    O‘quv-tarbiya jarayonida o‘qitishning ilg‘or shakllarini, shu jumladan masofadan
                    turib o‘qitish, yangi pedagogik va axborot-kommunikatsiya texnologiyalarini joriy etish, ulardan
                    samarali foydalanishni tashkil qilish;
                    <br>
                    Faoliyat yo‘nalishi bo‘yicha takliflar tayyorlash va
                    ishlarni tashkil etish;
                    <br>
                    O‘quv jarayonini ta’minlaydigan bo‘lim va fakultetlardagi dekanatlar
                    ishlarini muvofiqlashtirish, tashkil etish hamda nazorat qilish;
                    <br>
                    O‘zbekiston Respublikasi
                    qonunlari, Prezident farmonlari va farmoyishlari, Oliy Majlis va Vazirlar Mahkamasining ta’lim va
                    kadrlar tayyorlash sohasidagi qarorlarini amalga oshirishni tashkil etish;
                    <br>
                    Davlat ta’lim standartlari asosida o‘quv ishlarini tashkil etish va malakali kadrlar tayyorlashni ta’minlash;
                    <br>
                    Davlat
                    ta’lim standartlariga muvofiq bilimlar mazmuni va tayyorgarlik darajasiga qo‘yiladigan talablar
                    majmuasini barcha fakultet dekanlari, kafedra mudirlari va pedagog o‘qituvchilarning bilishini
                    ta’minlash;
                    <br>Mutasaddi yuqori tashkilotlarning buyruqlarini, farmoyishlari va ko‘rsatmalarini,
                    o‘quv–tarbiya jarayonlariga oid masalalar bo‘yicha TSDI Ilmiy kengashi qarorlari va rektor
                    buyruqlarining bajarilishini tashkil qilish;<br>Ilg‘or mamlakatlar ta’lim tizimining rivojlanish
                    tendensiyalarini o‘rganish, “Ta’lim to‘g‘risida”gi qonun, “Kadrlar tayyorlash milliy dasturi” va
                    boshqa ta’limga oid qonunlarda ko‘rsatilgan vazifalarni amalga oshirish borasidagi uslub va
                    vositalarni ishlab chiqish hamda ularning amalga oshirilishini ta’minlash;<br>O‘quv-tarbiya
                    jarayonida o‘qitishning ilg‘or shakllarini, shu jumladan masofadan turib o‘qitish, yangi pedagogik
                    va axborot-kommunikatsiya texnologiyalarini joriy etish, ulardan samarali foydalanishni tashkil
                    qilish;<br>Faoliyat yo‘nalishi bo‘yicha takliflar tayyorlash va ishlarni tashkil etish;<br>O‘quv
                    jarayonini ta’minlaydigan bo‘lim va fakultetlardagi dekanatlar ishlarini muvofiqlashtirish, tashkil
                    etish hamda nazorat qilish; Bo‘limlar, fakultet va kafedralar ish rejalarini tasdiqlash va ularning
                    bajarilishini nazorat qilish;<br>O‘tilayotgan darslarning sifatini oshirish,
                    professor-o‘qituvchilarning shaxsiy rejalari bajarilishini ta’minlash va nazorat qilish;<br>O‘quv va
                    ilmiy konferensiyalarni tashkil etish, TSDI uslubiy kengashi va pedagogik mahoratni oshirish
                    ishlariga rahbarlik qilish, ilg‘or uslubiy tajribalarni umumlashtirish;<br>O‘quv-uslubiy va ilmiy
                    ishlar materiallarini, shu jumladan, jurnallar, ilmiy ishlar to‘plamlarini TSDI xodimlari tomonidan
                    tayyorlash, nashr etish jarayonini boshqarish;<br>TSDIning barcha ta’lim va ilmiy faoliyat
                    yo‘nalishlarini o‘quv-uslubiy hamda ilmiy nashrlari bilan kutubxona fondini to‘ldirish bo‘yicha
                    umumiy rahbarlikni olib borish;<br>Professor-o‘qituvchilar va o‘quv ishiga yordamlashuvchi xodimlar
                    shtatlari bo‘yicha takliflarni ishlab chiqish, kafedralar, bo‘limlarni malakali kadrlar bilan
                    ta’minlashni tashkil etish;<br>Bo‘sh lavozimlarga tanlov asosida ishga qabul qilish,
                    stajyor-tadqiqotchi-izlanuvchilar va magistrlarni ishga qabul qilish bo‘yicha takliflar tayyorlash,
                    professor-o‘qituvchilarning malakasini oshirish rejalarini ishlab chiqish, amalga oshirishga
                    rahbarlik qilish;<br>O‘quv xonalaridan unumli foydalanish, auditoriya va laboratoriyalarni texnik
                    jihozlashni takomillashtirish masalalarini ishlab chiqish;<br>O‘quv intizomini buzgan talabalarga va
                    mehnat intizomini buzgan xodimlarga nisbatan tegishli choralarni qo‘llash bo‘yicha takliflar
                    tayyorlash;<br>Oliy ta’lim mazmuni va o‘quv jarayonini takomillashtirish, mutaxassis-kadrlarni
                    xalqaro talablar asosida tayyorlash maqsadida xorij mamlakatlarning turdosh oliy ta’lim muassasalari
                    bilan hamkorlikda fakultet, kafedralar tashkil etish bo‘yicha takliflar ishlab chiqish;<br>Kafedralar,
                    fakultet va bo‘limlarning yillik faoliyati hisobotlarini o‘tkazish, tahlil qilish va xulosalar
                    chiqarish, professor-o‘qituvchilarning o‘quv-uslubiy faoliyatini zamonaviy usullarda baholashni
                    amalga oshirish;<br>Oliy ta’lim muassasalari bilan o‘quv-uslubiy yo‘nalishda doimiy hamkorlikni
                    amalga oshirish, konferensiya, seminarlarda professor-o‘qituvchilarning faol ishtirokini ta’minlash,
                    mahalliy hokimiyatlar bilan hamkorlikda ishlash;<br>O‘rnatilgan tartibda TSDIning yillik reytingini
                    aniqlash, tahlil qilish, faoliyatni takomillashtirishga oid ishlarni amalga oshirish;<br>TSDIni
                    o‘rnatilgan tartibda ichki attestatsiyadan o‘tkazish, tashqi attestatsiyaga tayyorlash va
                    o‘tkazishda faol ishtirok etish;<br>O‘quv yiliga tayyorgarlik ko‘rish va o‘quv jarayonining yillik
                    ish rejasini tuzilishini ta’minlash ;<br>Institut o‘quv yili grafigi ishlab chiqilishini ta’minlash
                    va nazorat qilish;<br>Fakultet va kafedralarda o‘quv yuklamalari xisob kitobini to‘g‘ri va mavjud
                    me’yoriy xujjatlarga asosan taqsimlanishini ta’minlash va nazorat qilish;<br>Institutda auditoriya
                    fondini ishlatish, foydalanish va ularni taqsimlanishini nazorat qilish;<br>Institutda soatbay
                    fondni ishlatilishini nazorat qilish;<br>O‘quv jarayoniga tegishli hujjatlar mavjudligi va
                    saqlanishini ta’minlash;<br>Davlat ta’lim standartlari asosida ta’lim jarayonini tashkil etish,
                    o‘quv-uslubiy kengashlarni boshqarish;<br>Ilg‘or mamlakatlar ta’lim tizimining rivojlanish
                    tendensiyalarini o‘rganish, “Ta’lim to‘g‘risida”gi Qonun, Kadrlar tayyorlash milliy dasturi va
                    boshqa ta’limga oid normativ-huquqiy xujjatlardako‘rsatilgan vazifalarni amalga oshirish borasidagi
                    uslub va vositalarini ishlab chiqilishini tashkil etish;<br>Darsliklar va o‘quv-metodik adabiyotlar
                    yaratilishi, tarjima qilinishini, o‘quv-uslubiy majmualar bilan ta’minlash bo‘yicha nashriyot
                    ishlarini tashkil etish;<br>Pedagog kadrlar va mutaxassislarni tayyorlash, ularni qayta tayyorlash
                    va malakasini oshirishni tashkil etish, professor-o‘qituvchilar malakasini oshirish rejalarini
                    ishlab chiqish va amalga oshirishga rahbarlik qilish;<br>Barcha ta’lim yo‘nalishlarini o‘quv reja va
                    fan dasturlari bilan ta’minlash;<br>O‘quv uslubiy bo‘limlar, fakultet va kafedralar ish rejalarini
                    tasdiqlash va ularning bajarilishini nazorat qilish;<br>Talabalarning o‘quv va ishlab chiqarish
                    amaliyotini tashkil etish;<br>O‘quv va uslubiy konferensiyalarni tashkil etish, TSDI uslubiy
                    komissiyasi kengashiishlariga rahbarlik qilish, ilg‘or uslubiy tajribalarni umumlashtirish;<br>Ilmiy
                    ishlar bo‘yicha prorektor bilan birgalikda talabalarni Respublika va xalqaro miqyosdagi olimpiada
                    tanlovlariga maqsadli tayyorlash, olimpiada natijalarini tahlil qilish, talabalarni Prezident va
                    davlat stipendiyalariga tayyorlash ishlarini uzluksiz shaklda tashkil etish va boshqarish;<br>Talabalar
                    bilimini baholashning zamonaviy reyting tizimlarini tatbiq etish, talabalarning bilimlarini obyektiv
                    baholash ustidan nazorat olib borish;<br>Talabalarni mustaqil ta’lim olishlari uchun zamonaviy usul
                    va vositalarini tatbiq etishni tashkil qilish;<br>TSDI Ilmiy kengashi rejasi asosida o‘kuv
                    jarayoniga tegishli masalalarni belgilangan muddatda sifatli tayyorlashni tashkil qilish;<br>O‘quv
                    jarayonlarini samarali va sifatli tashkil etish bo‘yicha fakultet va kafedralar faoliyatini nazorat
                    qilishda qatnashish;<br><br>O‘zining xizmat vazifalarini vijdonan bajarish.
                </p>
            </div>
            <br>
        </div>
    </div>
{% endblock %}
