{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="yangiliklar">
        <div class="top-content">
            <div class="content">
                <nav class="top-bar">
                    <h3>
                        <i class="fa fa-users"></i>
                        Bo`lim yangilik va e`lonlari
                    </h3>
                    <nav>
                        <a href="{% url 'main:welcome' %}">
                            <i class="fa fa-home clfacebook"></i>
                        </a>
                        /
                        <i>
                            <a class="clfacebook" href="{% url 'main:news' %}">
                                yangiliklar
                            </a>
                        </i>
                        /
                        <i>
                            <a class="clfacebook" href="{% url 'main:news' %}">
                                yangilik
                            </a>
                        </i>
                    </nav>
                </nav>
            </div>
        </div>
        <!-- yangilik start -->
        <div class="content news-content">
            <img src="{{ new.image.url }}" alt="rasm" style="width: 100%">
            <br><br>
            <hr>
            <h2>
                {{ new.title }}
            </h2>
            <hr>
            <p style="padding-bottom: 10px;">
                {{ new.content }}
            </p>
            <hr>
            <nav class="new-time">
                <em>
                    Yangilik |
                </em>
                {{ new.create_at | date:"d:m:Y" }}
                <i class="fa fa-eye">
                    {{ new.sees }}
                </i>
            </nav>
        </div>
    <!-- Yangilik tugadi -->
    </div>
{% endblock %}
