{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="malaka">
        <div class="top-content">
            <div class="content">
                <nav class="top-bar">
                    <h3>
                        <i class="fa fa-users"></i>
                        {{ name }}
                    </h3>
                    <nav>
                        <a href="{% url 'main:welcome' %}">
                            <i class="fa fa-home clfacebook"></i>
                        </a>/
                        <i>
                            <a class="clfacebook" href="{% url 'main:welcome' %}">
                                {{ name }}
                            </a>
                        </i>
                    </nav>
                </nav>
            </div>
        </div>
        <!-- Malaka tavsifnoma -->
        <div class="content">
            <h2 style="height: 200px; text-align: center; justify-items: center;">
                {{ name }}: not found...
            </h2>

        </div>
    </div>
{% endblock %}
