{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="oquv_reja">
        <div class="top-content">
            <div class="content">
                <nav class="top-bar">
                    <h3>
                        <i class="fa fa-users"></i>
                        O`quv rejalar
                    </h3>
                    <nav>
                        <a href="{% url 'main:welcome' %}">
                            <i class="fa fa-home clfacebook"></i>
                        </a>
                        /
                        <i>
                            <a class="clfacebook" href="{% url 'main:welcome' %}">
                                o`quv rejalar
                            </a>
                        </i>
                    </nav>
                </nav>
            </div>
        </div>
        <div class="content">
            <br><br>
            <!-- O'quv rejalar boshlandi -->
            {% for faculty in faculties %}
                <p class="div-fakultet">{{ faculty.name }}</p>
                {% for curriculum in curriculums %}
                    {% if curriculum.faculty == faculty %}
                        <div class="fakulty-box">
                            {% for course in curriculum.course.all %}
                                <a href="{{ curriculum.file.url }}">
                                    <nav class="file-box">
                                        <img class="file-img" src="{% static 'image/book.png' %}" alt="file.png">
                                        <p class="file-text">2022-2023 <br> {{ faculty.name_uz }} {{ course.name_uz }}
                                        </p>
                                    </nav>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% empty %}
                <h2 style="height: 200px; text-align: center; justify-items: center;">O'quv reja bo'yicha ma'lumotlar yo'q.</h2>
            {% endfor %}

            <!-- O'quv raja tugadi -->
        </div>
    </div>
{% endblock %}
