{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="home">
        <div class="sliders">
            <div class="slider"></div>
        </div>
        <div class="links">
            <div class="content">
                <nav class="link-box"><a href="/https://hemis.tsdi.uz/" target="_blank">
                    <nav class="link">
                        <nav class="link-img"><img src="{% static 'image/teacher.png' %}" alt="">
                        </nav>
                        <h3>HEMIS-Teacher</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis autem dolor vel!</p>
                    </nav>
                </a><a href="/https://student.tsdi.uz/" target="_blank">
                    <nav class="link">
                        <nav class="link-img"><img src="{% static 'image/student.png' %}" alt="">
                        </nav>
                        <h3>HEMIS-Student</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis autem dolor vel!</p>
                    </nav>
                </a><a href="/https://moodle.tsdi.uz/" target="_blank">
                    <nav class="link">
                        <nav class="link-img"><img src="{% static 'image/moodle.png' %}" alt=""></nav>
                        <h3>Moodle tizimi</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis autem dolor vel!</p>
                    </nav>
                </a><a href="/https://e-xat.tsdi.uz/" target="_blank">
                    <nav class="link">
                        <nav class="link-img"><img src="{% static 'image/xat.webp' %}" alt=""></nav>
                        <h3>e-Xat tizimi</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis autem dolor vel!</p>
                    </nav>
                </a></nav>
            </div>
        </div>
        <div class="statistika">
            <div class="content">
                <div class="stat-circle">
                    <nav><h3><i class="fa fa-map"></i></h3><br>
                        <p>123</p></nav>
                    <nav><h3><i class="fa fa-map"></i></h3><br>
                        <p>124</p></nav>
                    <nav><h3><i class="fa fa-map"></i></h3><br>
                        <p>125</p></nav>
                    <nav><h3><i class="fa fa-map"></i></h3><br>
                        <p>126</p></nav>
                </div>
            </div>
        </div>
        <div class="divider">
            <div class="content">
                <nav><h4><i class="fa fa-graduation-cap"></i> O`quv-uslubiy bo`lim</h4><br>
                    <p>Toshkent davlat Stamotologiya Instituti</p></nav>
                <ul class="divider-list">
                    <li><a href="/https://t.me/Developer1524"><i class="fa fa-paper-plane cltg"></i></a></li>
                    <li><a href="/"><i class="fa fa-twitter cltwitter"></i></a></li>
                    <li><a href="/"><i class="fa fa-facebook clfacebook"></i></a></li>
                    <li><a href="/"><i class="fa fa-youtube clyoutube"></i></a></li>
                    <li><a href="/"><i class="fa fa-instagram clinsta"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="news">
            <div class="content">
                <nav class="news-title">
                    <hr>
                    <p>Bo`lim yangiliklari</p>
                    <hr>
                </nav>
                <div class="new-box">
                    {% for new in news %}
                        <nav class="new-body">
                            <nav class="new-time"><em>Yangilik |</em> {{ new.create_at | date:"d:m:Y"}} <i class="fa fa-eye">
                                {{ new.sees }}</i>
                            </nav>
                            <nav class="news-img"><img src="{{ new.image.url }}" alt="rasm">
                            </nav>
                            <p class="new-text">
                                <a href="{% url 'main:new' new.id %}">
                                    {{ new.title|slice:160 }}
                                </a>
                            </p>
                        </nav>
                    {% endfor %}


                    <nav class="new-body">
                        <nav class="new-time"><em>Yangilik |</em> 19.12.2022 <i class="fa fa-eye"> 65</i></nav>
                        <nav class="news-img"><img src="{% static 'image/news.png' %}" alt="rasm">
                        </nav>
                        <p class="new-text">Qatarda bo‘lib o‘tayotgan Jahon chempionati finalida Fransiyani mag‘lub
                            etgan Argentina terma jamoasi mundiallarda uchinchi marta chempionlikni qo‘lga
                            kiritdi.</p></nav>
                    <nav class="new-body">
                        <nav class="new-time"><em>Yangilik |</em> 19.12.2022 <i class="fa fa-eye"> 65</i></nav>
                        <nav class="news-img"><img src="{% static 'image/news.png' %}" alt="rasm">
                        </nav>
                        <p class="new-text">Qatarda bo‘lib o‘tayotgan Jahon chempionati finalida Fransiyani mag‘lub
                            etgan Argentina terma jamoasi mundiallarda uchinchi marta chempionlikni qo‘lga
                            kiritdi.</p>
                    </nav>
                    <nav class="new-body">
                        <nav class="new-time"><em>Yangilik |</em> 19.12.2022 <i class="fa fa-eye"> 65</i></nav>
                        <nav class="news-img"><img src="{% static 'image/news.png' %}" alt="rasm">
                        </nav>
                        <p class="new-text">Qatarda bo‘lib o‘tayotgan Jahon chempionati finalida Fransiyani mag‘lub
                            etgan Argentina terma jamoasi mundiallarda uchinchi marta chempionlikni qo‘lga
                            kiritdi.</p>
                    </nav>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="content">
                <nav class="serv"><a href="/"><p>Elektron kutubxona</p></a></nav>
                <nav class="serv"><a href="/"><p>Diplomni tasdiqlash</p></a></nav>
                <nav class="serv"><a href="/"><p>Talaba ma`lumotnomasi</p></a></nav>
                <nav class="serv"><a href="/"><p>Bosh ilmi-metodik markaz</p></a></nav>
                <nav class="serv"><a href="/"><p>Google Scholar</p></a></nav>
                <nav class="serv"><a href="/"><p>ResearchGate</p></a></nav>
                <nav class="serv"><a href="/"><p>Ish joyidan ma`lumot</p></a></nav>
                <nav class="serv"><a href="/"><p>Elektron kutubxona</p></a></nav>
                <nav class="serv"><a href="/"><p>Elektron kutubxona</p></a></nav>
                <nav class="serv"><a href="/"><p>Elektron kutubxona</p></a></nav>
            </div>
        </div>
    </div>

{% endblock %}