{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="home">
        <div class="sliders">
            <div class="slider">

            </div>
        </div>
        <div class="links">
            <div class="content">
                <nav class="link-box">
                    <a href="/https://hemis.tsdi.uz/" target="_blank">
                        <nav class="link">
                            <nav class="link-img"><img src="{% static 'image/teacher.png' %}" alt="">
                            </nav>
                            <h3>HEMIS-Teacher</h3>
                            <p>Toshkent davlat stomatologiya instituti Hemis tizimga O'qituvchilar kirish!</p>
                        </nav>
                    </a><a href="/https://student.tsdi.uz/" target="_blank">
                    <nav class="link">
                        <nav class="link-img"><img src="{% static 'image/student.png' %}" alt="">
                        </nav>
                        <h3>HEMIS-Student</h3>
                        <p>Toshkent davlat stomatologiya instituti Hemis tizimga Studentlar kirish!</p>
                    </nav>
                </a><a href="/https://moodle.tsdi.uz/" target="_blank">
                    <nav class="link">
                        <nav class="link-img"><img src="{% static 'image/moodle.png' %}" alt=""></nav>
                        <h3>Moodle tizimi</h3>
                        <p>Toshkent davlat stomatologiya instituti Moodle tizimiga kirish!</p>
                    </nav>
                </a><a href="https://library.tsdi.uz/" target="_blank">
                    <nav class="link">
                        <nav class="link-img"><img src="{% static 'image/xat.webp' %}" alt=""></nav>
                        <h3>Elektron kutubxona</h3>
                        <p>Toshkent Davlat Stomatologiya Instituti Elektron kutubxona tizimiga kirish!</p>
                    </nav>
                </a></nav>
            </div>
        </div>
        <div class="statistika">
            <div class="content">
                <div class="stat-circle">
                    <nav><h3><i class="fa fa-map"></i></h3><br>
                        <p style="text-align: center;">2578 ta <br>Talaba</p></nav>
                    <nav><h3><i class="fa fa-map"></i></h3><br>
                        <p style="text-align: center;">124 ta <br>Ustozlar</p></nav>
                    <nav><h3><i class="fa fa-map"></i></h3><br>
                        <p style="text-align: center;">1059 ta <br>1-Kurslar</p></nav>
                    <nav><h3><i class="fa fa-map"></i></h3><br>
                        <p style="text-align: center;">6 ta <br>O'quv bino</p>
                    </nav>
                </div>
            </div>
        </div>
        <div class="divider">
            <div class="content">
                <nav><h4><i class="fa fa-graduation-cap"></i> O`quv-uslubiy bo`lim</h4><br>
                    <p>Toshkent davlat Stamotologiya Instituti</p></nav>
                <ul class="divider-list">
                    <li><a href="/https://t.me/Developer1524"><i class="fa fa-paper-plane cltg"></i></a></li>
                    <li><a href="/"><i class="fa fa-twitter cltwitter"></i></a></li>
                    <li><a href="/"><i class="fa fa-facebook clfacebook"></i></a></li>
                    <li><a href="/"><i class="fa fa-youtube clyoutube"></i></a></li>
                    <li><a href="/"><i class="fa fa-instagram clinsta"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="news">
            <div class="content">
                <nav class="news-title">
                    <hr>
                    <p>Bo`lim yangiliklari</p>
                    <hr>
                </nav>
                <div class="new-box">
                    {% for new in news %}
                        <nav class="new-body">
                            <nav class="new-time"><em>Yangilik |</em> {{ new.create_at | date:"d:m:Y" }} <i
                                    class="fa fa-eye">
                                {{ new.sees }}</i>
                            </nav>
                            <nav class="news-img"><img src="{{ new.image.url }}" alt="rasm">
                            </nav>
                            <p class="new-text">
                                <a href="{% url 'main:new' new.id %}">
                                    {{ new.title|slice:160 }}
                                </a>
                            </p>
                        </nav>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="services" style="padding-bottom: 30px;">
            <div class="content">
                <nav class="serv"><a href="https://library.tsdi.uz/"><p>Elektron kutubxona</p></a></nav>
                <nav class="serv"><a href="https://yotoqxona.tsdi.uz/"><p>Yoqotxona qabul</p></a></nav>
                <nav class="serv"><a href="https://qabul.tsdi.uz/"><p>PIMU qabul</p></a></nav>
                <nav class="serv"><a href="https://student.tsdi.uz/dashboard/login"><p>Hemis Student</p></a></nav>
                <nav class="serv"><a href="https://moodle.tsdi.uz/login/index.php"><p>Moodle Student</p></a></nav>
                <nav class="serv"><a href="https://infox.edu.uz/site/login"><p>Info Edu</p></a></nav>
                <nav class="serv"><a href="https://phd.mininnovation.uz/"><p>Phd va Dcs</p></a></nav>
                <nav class="serv"><a href="https://app.ijro.uz/auth"><p>Idoralararo elektron tizim</p></a></nav>
                <nav class="serv"><a href="https://student.tsdi.uz/dashboard/diploma"><p>Diplomni tasdiqlash</p></a>
                </nav>
                <nav class="serv"><a href="https://edo.ijro.uz/welcome"><p>IJRO.GOV.UZ</p></a></nav>
            </div>
        </div>
    </div>

{% endblock %}