{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="xodimlar">
        <div class="top-content">
            <div class="content">
                <nav class="top-bar">
                    <h3>
                        <i class="fa fa-users"></i>
                        Xodimlar
                    </h3>
                    <nav>
                        <a href="/">
                            <i class="fa fa-home clfacebook"></i>
                        </a>
                        /
                        <i>
                            <a class="clfacebook" href="/">
                                xodim
                            </a>
                        </i>
                    </nav>
                </nav>
            </div>
        </div>
        <div class="content"><br>
            <div class="chief">
                <nav class="image-box">
                    <img src="/static/image/tastanova.png" alt="Image">
                </nav>
                <nav class="about-box">
                    <h3>
                        O’quv-uslubiy bo’lim boshlig'i
                    </h3>
                    <p class="chief-name">
                        Tastanova Gulchehra Yeshtayevna
                    </p>
                    <nav>
                        <em>1987-1993 yy. - ikkinchi Toshkent davlat tibbiѐt instituti talabasi</em><br><em>1993-2003
                        yy. - ikkinchi Toshkent davlat tibbiѐt instituti odam anatomiyasi, operativ jarrohlik va
                        topografik anatomiya kafedrasi assistenti</em><br><em>2004-2005 yy. - ikkinchi Toshkent davlat
                        tibbiѐt instituti odam anatomiyasi, operativ jarrohlik va topografik anatomiya kafedrasi katta
                        o‘qituvchisi</em><br><em>2005-2009 yy. - Toshkent tibbiѐt akademiyasi odam anatomiya, operativ
                        jarrohlik va topografik anatomiyakafedrasi dotsenti</em><br><em>2005-2009 yy. - Toshkent tibbiѐt
                        akademiyasi davolash fakulteti dekan muovini</em><br><em>2009-2011 yy. - Toshkent tibbiѐt
                        akademiyasi doktoranti</em><br><em>2011-2014 yy. - Toshkent tibbiѐt akademiyasi odam anatomiya,
                        operativ jarrohlik va topografik anatomiyakafedrasi dotsenti</em><br><em>2014–2017yy. - Toshkent
                        davlat stomatologiya instituti anatomiya kafedrasi dotsenti</em><br><em>2017 y. - h.v. -
                        Toshkent davlat stomatologiya instituti anatomiya kafedrasi mudiri</em><br>
                    </nav>
                    <ul>
                        <li><i class="fa fa-phone"></i><span><b>Telefon</b><p>+998(91) 234-56-78</p></span></li>
                        <li><i class="fa fa-envelope"></i><span><b>Elektron pochta</b><p>info@tsdi.uz</p></span></li>
                        <li><i class="fa fa-graduation-cap"></i><span><b>Ilmiy unvon/daraja</b><p>Tibbiyot fanlari doktori, Dotsent</p></span>
                        </li>
                        <li><i class="fa fa-clock-o"></i><span>
                            <b>Qabul vaqti</b>
                            <p>
                                10:00 - 17:00
                            </p>
                        </span>
                        </li>
                    </ul>
                </nav>
            </div>
            <br>
            <div class="employees">
                <div class="divide-employee"></div>
                <div class="employee">
                    <nav class="image-box">
                        <img src="/static/image/gadayev.png" alt="Image">
                    </nav>
                    <nav class="about-box">
                        <h3>Ta’limning kredit tizimini boshqarish sektorida bosh mutaxassis
                        </h3>
                        <p class="employe-name">
                            Gadayev Asliddin Mamarasulovich
                        </p>
                        <ul>
                            <li><i class="fa fa-phone"></i><span><b>Telefon</b><p>+998(97) 733-36-34</p></span></li>
                            <li>
                                <i class="fa fa-envelope"></i><span><b>Elektron pochta</b><p>gadayevasliddin71@gmail.com</p></span>
                            </li>
                            <li><i class="fa fa-gavel"></i><span><b>Mas`ul</b><p>Dars jadvallarini yaratish va kredit modul faoliyatiga mas’ul</p></span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="employee">
                    <nav class="image-box">
                        <img src="/static/image/muhriddin.png" alt="Image">
                    </nav>
                    <nav class="about-box">
                        <h3>
                            Ta’limning kredit tizimini boshqarish sektorida bosh mutaxassis
                        </h3>
                        <p class="employe-name">
                            Sherboboyev Muxriddin Azimmurod o'g'li
                        </p>
                        <ul>
                            <li><i class="fa fa-phone"></i><span><b>Telefon</b><p>+998(90) 250-47-10</p></span></li>
                            <li>
                                <i class="fa fa-envelope"></i><span><b>Elektron pochta</b><p>mshermomoyev@bk.ru</p></span>
                            </li>
                            <li><i class="fa fa-gavel"></i><span><b>Mas`ul</b><p>O’quv ishlari bo’yicha prorector texnik ishlariga yordamchi </p></span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="employee">
                    <nav class="image-box">
                        <img src="/static/image/dano.png" alt="Image">
                    </nav>
                    <nav class="about-box">
                        <h3>
                            Ta’limning kredit tizimini boshqarish sektorida etakchi mutaxassis
                        </h3>
                        <p class="employe-name">
                            Axmadaliyeva Dano Toganovna
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i><span><b>Telefon</b><p>+998(99) 814-10-58</p></span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i><span><b>Elektron pochta</b><p>dono_69@mail.ru</p></span>
                            </li>
                            <li>
                                <i class="fa fa-gavel"></i><span><b>Mas`ul</b><p>O’quv-uslubiy ishlarga mas’ul </p></span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="divide-employee"></div>
                <div class="employee">
                    <nav class="image-box">
                        <img src="/static/image/muqaddas.png" alt="Image">
                    </nav>
                    <nav class="about-box">
                        <h3>
                            Akademik litsey va texnikumlarga metodik yordam berish sektori bosh mutaxassisi
                        </h3>
                        <p class="employe-name">
                            Muqaddas Aktamovna
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i><span><b>Telefon</b><p>+998(91) 234-56-78</p></span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i><span><b>Elektron pochta</b><p>info@tsdi.uz</p>
                            </span>
                            </li>
                            <li>
                                <i class="fa fa-gavel"></i><span><b>Mas`ul</b><p>Akademik litsey va texnikumlar bilan ishlash va ular bilan faoliyat olib borishga mas’ul</p>
                            </span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="employee">
                    <nav class="image-box">
                        <img src="/static/image/nargiza.png" alt="Image">
                    </nav>
                    <nav class="about-box">
                        <h3>
                            Uslubchi
                        </h3>
                        <p class="employe-name">
                            Zakirova Nargiza Xolmatovna
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i><span><b>Telefon</b><p>+998(91) 234-56-78</p></span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i><span><b>Elektron pochta</b><p>info@tsdi.uz</p>
                            </span>
                            </li>
                            <li>
                                <i class="fa fa-gavel"></i><span><b>Mas`ul</b><p>Talabalar hujjatlarini saqlash, talabalarga oid buyruqlar bilan ishlash</p></span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="employee">
                    <nav class="image-box">
                        <img src="/static/image/zilola.png" alt="Image">
                    </nav>
                    <nav class="about-box">
                        <h3>
                            O’quv ishlari bo’yicha inspektor
                        </h3>
                        <p class="employe-name">
                            Aslonova Zilola Mamir qizi
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i><span><b>Telefon</b><p>+998(91) 234-56-78</p></span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i><span><b>Elektron pochta</b><p>info@tsdi.uz</p>
                            </span>
                            </li>
                            <li>
                                <i class="fa fa-gavel"></i><span><b>Mas`ul</b><p>Talabalar hujjatlarini saqlash, talabalarga oid buyruqlar bilan ishlash</p>
                            </span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="employee">
                    <nav class="image-box">
                        <img src="/static/image/arofat.png" alt="Image">
                    </nav>
                    <nav class="about-box">
                        <h3>
                            Dispecher
                        </h3>
                        <p class="employe-name">
                            Tuxtaeva Arofat Saidmurod qizi
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i><span><b>Telefon</b><p>+998(91) 234-56-78</p></span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i><span><b>Elektron pochta</b><p>info@tsdi.uz</p></span>
                            </li>
                            <li>
                                <i class="fa fa-gavel"></i><span><b>Mas`ul</b><p>O’quv-uslubiy bo’lim xujjat ishlari bo’yicha yordamchi</p></span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
